In [1]:
# Selection data

import pandas as pd

data = {
    "ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [22, 25, 23, 24, 26],
    "Marks": [85, 78, 92, 88, 90]
}

df = pd.DataFrame(data)

print(df)
print(df["Name"])
print(df["Marks"])

df[["Name", "Marks"]]

print("location 0", df.iloc[0])
print("location 1 to 4", df.iloc[1:4])
print("location 1 to 3", df.iloc[0:3, 1:3])

    ID     Name  Age  Marks
0  101    Alice   22     85
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eva   26     90
0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object
0    85
1    78
2    92
3    88
4    90
Name: Marks, dtype: int64
location 0 ID         101
Name     Alice
Age         22
Marks       85
Name: 0, dtype: object
location 1 to 4     ID     Name  Age  Marks
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88
location 1 to 3       Name  Age
0    Alice   22
1      Bob   25
2  Charlie   23

In [2]:
# filtering data
import pandas as pd

data = {
    "ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [22, 25, 23, 24, 26],
    "Marks": [85, 78, 92, 88, 90]
}

df = pd.DataFrame(data)

print("Original Dataframe:")
print(df)

print("\n Students with marks >85:")
print(df[df["Marks"] > 85])

print("\n student with age <25:")
print(df[df["Age"] < 25])

print(df[(df["Age"] > 23) & (df["Marks"] > 88)])

print(df[df["Marks"] > 90], df["Age"] > 23)

Original Dataframe:
    ID     Name  Age  Marks
0  101    Alice   22     85
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eva   26     90

 Students with marks >85:
    ID     Name  Age  Marks
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eva   26     90

 student with age <25:
    ID     Name  Age  Marks
0  101    Alice   22     85
2  103  Charlie   23     92
3  104    David   24     88
    ID Name  Age  Marks
4  105  Eva   26     90
    ID     Name  Age  Marks
2  103  Charlie   23     92 0    False
1     True
2    False
3     True
4     True
Name: Age, dtype: bool

In [3]:
# Data Manipulation
import pandas as pd

# create Dataframe
data = {
    "Name": ["A", "B", "C"],
    "Age": [20, 21, 22],
    "Marks": [70, 80, 90]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

# Add new column
df["Bonus"] = 5
print("\n After adding Bonus:")
print(df)

# Increase marks
df["Marks"] = df["Marks"] + 2
print("\n After increasing marks")
print(df)

# Change value
df.loc[0, "Age"] = 21
print("\n After changing age of first student:")
print(df)

# Rename column
df.rename(columns={"total": "final"}, inplace=True)
print("\n After renaming total to final:")
print(df)

# Remove column
df.drop("Bonus", axis=1, inplace=True)
print("\n After removing Bonus:")
print(df)

Original Data:
  Name  Age  Marks
0    A   20     70
1    B   21     80
2    C   22     90

 After adding Bonus:
  Name  Age  Marks  Bonus
0    A   20     70      5
1    B   21     80      5
2    C   22     90      5

 After increasing marks
  Name  Age  Marks  Bonus
0    A   20     72      5
1    B   21     82      5
2    C   22     92      5

 After changing age of first student:
  Name  Age  Marks  Bonus
0    A   21     72      5
1    B   21     82      5
2    C   22     92      5

 After renaming total to final:
  Name  Age  Marks  Bonus
0    A   21     72      5
1    B   21     82      5
2    C   22     92      5

 After removing Bonus:
  Name  Age  Marks
0    A   21     72
1    B   21     82
2    C   22     92

In [4]:
# Selection sort
n = int(input("enter number of elements:"))

arr = []

for i in range(n):
    arr.append(int(input(f"enter element {i+1}:")))

print("\n Original array:", arr)

# selection sort logic
for i in range(n-1):
    min_index = i
    for j in range(i+1, n):
        if arr[j] < arr[min_index]:
            min_index = j

    # swap found min element with first element
    arr[i], arr[min_index] = arr[min_index], arr[i]

print("sorted array:", arr)

enter number of elements: 6
enter element 1: 2
enter element 2: 5
enter element 3: 6
enter element 4: 45
enter element 5: 52
enter element 6: 64

 Original array: [2, 5, 6, 45, 52, 64]
sorted array: [2, 5, 6, 45, 52, 64]

In [5]:
# Bubble sort
n = int(input("enter num of elements:"))

arr = []

for i in range(n):
    arr.append(input(input(f"enter element {i+1}:")))

print("\n Original array:", arr)

# Bubble sort logic
for i in range(n-1):
    for j in range(n-1-i):
        if arr[j] > arr[j+1]:
            # Swap
            arr[j], arr[j+1] = arr[j+1], arr[j]

print("Sorted array:", arr)

enter num of elements: 6
enter element 1: 4
4 58
enter element 2: 2
2 13
enter element 3: 256
256 2
enter element 4: 89
89 2
enter element 5: 12
12 24
enter element 6: 125
125 24

 Original array: ['58', '13', '2', '2', '24', '24']
Sorted array: ['13', '2', '2', '24', '24', '58']

In [6]:
#Linear Search

n = int(input("enter no. of elements:"))
arr = []

for i in range(n):
    arr.append(int(input(f"enter element {i}:")))

key = int(input("enter element to search:"))

found = False

for i in range(n):
    if arr[i] == key:
        print(f"element {key} found at position {i+1}")
        found = True
        break

if not found:
    print("element not found:")

enter no. of elements: 3
enter element 0: 4
enter element 1: 5
enter element 2: 8
enter element to search: 2

element not found:

In [7]:
#Binary Search

n = int(input("enter number of elements:"))

arr = []

for i in range(n):
    arr.append(int(input(f"enter element {i+1}:")))

arr.sort()
print("\n sorted list : arr")

key = int(input("enter element to search:"))

low = 0
high = n-1

found = False
while low <= high:
    mid = (low + high) // 2

    if arr[mid] == key:
        print(f"element {key} found at position {mid+1}")
        found = True
        break

    elif key < arr[mid]:
        high = mid - 1

enter number of elements: 4
enter element 1: 2
enter element 2: 45
enter element 3: 56
enter element 4: 12

 sorted list : arr

enter element to search: 12

element 12 found at position 2

In [8]:
# Grouping
import pandas as pd

# Simple Dataframe
data = {
    "Department": ["IT", "IT", "HR", "HR", "Finance"],
    "Name": ["A", "B", "C", "D", "E"],
    "Marks": [80, 85, 75, 90, 88]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

print("\n Average Marks by department:")
print(df.groupby("Department")["Marks"].mean())

print("\nTotal marks by department:")
print(df.groupby("Department")["Marks"].sum())

print("\nStudent count by department:")
print(df.groupby("Department")["Marks"].count())

Original Data:
  Department Name  Marks
0         IT    A     80
1         IT    B     85
2         HR    C     75
3         HR    D     90
4    Finance    E     88

 Average Marks by department:
Department
Finance    88.0
HR         82.5
IT         82.5
Name: Marks, dtype: float64

Total marks by department:
Department
Finance     88
HR         165
IT         165
Name: Marks, dtype: int64

Student count by department:
Department
Finance    1
HR         2
IT         2
Name: Marks, dtype: int64

In [9]:
# Ranking

import pandas as pd

data = {
    "Name": ["A", "B", "C", "D"],
    "Marks": [85, 92, 78, 80]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

df["Rank"] = df["Marks"].rank(ascending=False)

print("\nAfter ranking:")
print(df)

Original Data:
  Name  Marks
0    A     85
1    B     92
2    C     78
3    D     80

After ranking:
  Name  Marks  Rank
0    A     85   2.0
1    B     92   1.0
2    C     78   4.0
3    D     80   3.0

In [10]:
# Rearrange

import pandas as pd

data = {
    "Name": ["A", "B", "C"],
    "Age": [22, 21, 23],
    "Marks": [85, 90, 80]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Rearranging rows by Marks (ascending)
df_sorted = df.sort_values(by="Marks")

print("\nAfter rearranging rows by marks (ascending):")
print(df_sorted)

# Rearranging rows by Marks (descending)
df_sorted_desc = df.sort_values(by="Marks", ascending=False)

print("\nAfter rearranging rows by marks (descending):")
print(df_sorted_desc)

# Rearranging columns
df_rearranged_cols = df[["Marks", "Name", "Age"]]

print("\nAfter rearranging columns:")
print(df_rearranged_cols)

Original DataFrame:
  Name  Age  Marks
0    A   22     85
1    B   21     90
2    C   23     80

After rearranging rows by marks (ascending):
  Name  Age  Marks
2    C   23     80
0    A   22     85
1    B   21     90

After rearranging rows by marks (descending):
  Name  Age  Marks
1    B   21     90
0    A   22     85
2    C   23     80

After rearranging columns:
   Marks Name  Age
0     85    A   22
1     90    B   21
2     80    C   23